#wrap {
	width: 530px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #332E00;
}

td{
	border: 1px solid #332E00;
	color: #8b4513;
	font-weight: bold;
}